.nav_desktop {
    display: none;
    flex-grow: 1;
    ul {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            cursor: pointer;
            padding: 0 30px;
            a {
                text-decoration: none;
                color: $fontColorGrey;
                &:hover {
                    border-bottom: 1px solid $fontColorGrey;
                }
            }
        }
   }
    @include lg {
        display: block;
    }
}