.nav_desktop {
    display: none;
    width: 30%;
    ul {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            cursor: pointer;
            a {
                text-decoration: none;
                color: $fontColorGrey;
                &:hover {
                    border-bottom: 1px solid $fontColorGrey;
                }
            }
        }
   }
    @include lg {
        display: block;
    }
}