* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(220, 213, 213, 0.848);
}
header .logo {
  font-family: "Viaoda Libre", cursive;
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: 900;
  color: rgb(100, 149, 237);
}
header .log_sell-buttons--desktop {
  display: none;
}
header .log_sell-buttons--desktop button {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 7px 0;
  width: 120px;
}
header .log_sell-buttons--desktop button:nth-child(1) {
  background-color: rgb(100, 149, 237);
  color: white;
}
header .log_sell-buttons--desktop button:nth-child(2) {
  background-color: transparent;
  border: 1px solid rgb(100, 149, 237);
  color: rgb(100, 149, 237);
}
@media (min-width: 992px) {
  header .log_sell-buttons--desktop {
    display: block;
  }
}

.burger_btn {
  width: 20px;
  height: 18px;
  position: relative;
  cursor: pointer;
}
.burger_btn div {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(100, 149, 237);
  border-radius: 5px;
}
.burger_btn .top-line {
  top: 0;
}
.burger_btn .middle-line {
  top: calc(50% - 1px);
}
.burger_btn .bottom-line {
  bottom: 0;
}
.burger_btn .top-line.show {
  top: calc(50% - 1px);
  transform: rotate(45deg);
}
.burger_btn .middle-line.show {
  opacity: 0;
}
.burger_btn .bottom-line.show {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
@media (min-width: 992px) {
  .burger_btn {
    display: none;
  }
}

.nav_mobile.show {
  display: block;
}
@media (min-width: 992px) {
  .nav_mobile.show {
    display: none;
  }
}

.nav_mobile {
  background-color: white;
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  padding: 0 1.5em;
}
.nav_mobile ul {
  list-style: none;
  padding: 0;
  margin-top: 2.2em;
}
.nav_mobile ul li {
  cursor: pointer;
  padding-bottom: 1.5em;
}
.nav_mobile ul li a {
  text-decoration: none;
  color: black;
}
.nav_mobile ul li .fa-solid {
  font-size: 2em;
  margin-right: 0.5em;
  color: rgb(100, 149, 237);
}
.nav_mobile ul li .fa-person-dress, .nav_mobile ul li .fa-person {
  font-size: 2.5em;
}
.nav_mobile ul li .fa-house {
  font-size: 1.7em;
}
.nav_mobile .nav_mobile-cat {
  margin: 3em 0 0;
  font-size: 0.9em;
  color: rgb(84, 84, 84);
}
.nav_mobile .log_sell-buttons {
  display: flex;
  flex-direction: column;
  margin: 1.5em 0;
}
.nav_mobile .log_sell-buttons button {
  padding: 1em 0;
  margin-bottom: 0.5em;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.nav_mobile .log_sell-buttons .sell-btn {
  background-color: rgb(100, 149, 237);
  color: white;
}
.nav_mobile .log_sell-buttons .log-btn {
  border: 1px solid rgb(100, 149, 237);
  background-color: transparent;
  color: rgb(84, 84, 84);
}

.hero {
  width: 100%;
  max-height: 600px;
}
.hero .hero-image {
  width: 100%;
  height: 100%;
}
.hero .hero-image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .hero .hero-image img {
    max-height: 600px;
  }
}

.nav_desktop {
  display: none;
  width: 30%;
}
.nav_desktop ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.nav_desktop ul li {
  list-style: none;
  cursor: pointer;
}
.nav_desktop ul li a {
  text-decoration: none;
  color: rgb(84, 84, 84);
}
.nav_desktop ul li a:hover {
  border-bottom: 1px solid rgb(84, 84, 84);
}
@media (min-width: 992px) {
  .nav_desktop {
    display: block;
  }
}

.popular_items {
  width: 100%;
  padding: 0 20px;
}
.popular_items h3 {
  color: rgb(84, 84, 84);
  text-align: center;
  font-size: 1.7em;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .popular_items h3 {
    font-size: 2em;
    margin: 1.8em;
  }
}
@media (min-width: 480px) {
  .popular_items .all_products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}
@media (min-width: 768px) {
  .popular_items .all_products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .popular_items .all_products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .popular_items .all_products {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2em;
  }
}
.popular_items .all_products .all_products--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.popular_items .all_products .all_products--item .item_img--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}
.popular_items .all_products .all_products--item .item_img--container img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular_items .all_products .all_products--item p {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0.5em;
}
.popular_items .all_products .all_products--item .item_button--buy {
  width: 50%;
  margin-top: 1em;
  background-color: rgb(100, 149, 237);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.7em;
  font-size: 1rem;
}/*# sourceMappingURL=styles.css.map */